N8N Auto Blogging/featured-image-generator.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          14464,
          16912
        ],
        "id": "923803e6-711d-4035-8737-763544663828",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Edit Fields3').item.json.Webhook }}/upload-image",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "imageUrl",
                "value": "={{ $('Get Image').item.json.output.image_urls[0] }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 60000
          }
        },
        "id": "c9891c6a-d14c-4abe-ab8b-6dfd1a341bdd",
        "name": "Send Image URL to Webhook",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          15216,
          17056
        ],
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "e4xkr4s6jVKWYVY0",
            "name": "MPEN - IC"
          }
        },
        "continueOnFail": false
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo",
            "mode": "list",
            "cachedResultName": "Mypen Articles",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "link": "={{ $('Loop Over Items4').item.json.link }}",
              "featured image": "={{ $json.hostedUrl }}",
              "generate_featured": "Done"
            },
            "matchingColumns": [
              "link"
            ],
            "schema": [
              {
                "id": "link",
                "displayName": "link",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "featured image",
                "displayName": "featured image",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "generate_featured",
                "displayName": "generate_featured",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          15392,
          17360
        ],
        "id": "68236cef-2423-473e-b0bb-6e4faa5e2a71",
        "name": "Update Sheet with Featured Image1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "KHD2NxVzxY6BFySy",
            "name": "Irakli C"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "GPT-4.1-NANO"
          },
          "messages": {
            "values": [
              {
                "content": "=You are an expert visual concept designer specializing in creating compelling featured images for blog articles. Your task is to generate an image description that will be used with an AI image generator. The inputs might be in Georgian language but you always output in English.\n\n---\n\n## INPUT\n\n**Article Title:**\n{{ $('Get row(s) in sheet3').item.json.title }}\n\n**Article Body (for context):**\n{{ $('Get row(s) in sheet3').item.json['written article'] }}\n\n---\n\n## STYLE GUIDE\n{{ $('Edit Fields3').item.json['Visual Style'] }}\n\n---\n\n## BRAND VOICE\n{{ $('Edit Fields3').item.json['Brand Voice'] }}\n\n---\n\n## IMAGE DESCRIPTION RULES\n\n### Content Guidelines\n1. **Capture the core concept** — The image should visually represent the article's main theme or message\n2. **Single powerful moment** — Describe ONE clear, focused scene (not multiple scenes or sequences)\n3. **Avoid text in images** — Do not include any text, titles, logos, or words in the description\n4. **No faces when possible** — Prefer symbolic, conceptual, or environmental imagery over portraits\n5. **Universal appeal** — The image should make sense without reading the article\n\n### Description Guidelines\n6. **Be specific and visual** — Describe what is literally seen: objects, colors, lighting, composition, mood\n7. **Describe the scene, not the style** — Focus on WHAT is shown, not HOW it's rendered (style is in the Style Guide)\n8. **Keep it concise** — 2-4 sentences maximum\n9. **Use present tense** — Describe the scene as if it exists now\n10. **Avoid abstract concepts** — Translate ideas into concrete visual elements\n\n### Technical Considerations\n11. **Horizontal composition** — Featured images are typically 16:9 or 2:1 ratio\n12. **Leave space for potential text overlay** — Don't overcrowd the entire frame\n13. **Strong focal point** — One clear area of visual interest\n\n---\n\n## EXAMPLES\n\n**Article about AI in healthcare:**\n❌ Bad: \"An image showing AI revolutionizing healthcare with modern technology and innovation\"\n✅ Good: \"A softly lit hospital room at dawn. A translucent holographic display floats above a patient's bedside, showing gentle blue data streams. A doctor's hands reach toward the display. Warm ambient lighting contrasts with cool blue technology.\"\n\n**Article about remote work trends:**\n❌ Bad: \"Remote work concept with people working from home\"\n✅ Good: \"A cozy home office corner bathed in morning sunlight. A laptop sits open on a wooden desk beside a steaming coffee cup. Through the window, a city skyline is visible in soft focus. A small plant adds a touch of green.\"\n\n**Article about AI ethics:**\n❌ Bad: \"Ethical AI and responsible technology\"\n✅ Good: \"A large metallic scale balances in the center of the frame. On one side, glowing circuit patterns; on the other, a small growing seedling. Soft neutral background with dramatic side lighting creating long shadows.\"\n\n---\n\n## OUTPUT FORMAT\n\nRespond with ONLY a valid JSON object. No explanation, no markdown code blocks, no additional text.\n\n{\"image_description\": \"Your detailed scene description here\"}\n\nThe response must start with { and end with }"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          13744,
          17328
        ],
        "id": "5ddabc8c-dc63-455e-8636-8b1a3a34242a",
        "name": "Message a model5",
        "credentials": {
          "openAiApi": {
            "id": "eJNHP6n8O3Y9Iv2F",
            "name": "Open Ai - IC"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.legnext.ai/api/v1/job/{{ $json.job_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "c4fa1fda9b73b4a2f2915404f841852c17df97f7adb7cfa59c77d46f2721c8cd"
              }
            ]
          },
          "options": {}
        },
        "id": "be952c8c-13c5-4fbb-9b41-1517f62c5e4f",
        "name": "Midjourney Image Generator",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          14320,
          17184
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {},
        "id": "11bd9dad-41eb-4163-b9c9-cd86c3decda7",
        "name": "Wait for Image Generation",
        "type": "n8n-nodes-base.wait",
        "position": [
          14768,
          17280
        ],
        "webhookId": "f3bcf634-8c4b-4bf9-a7f2-d4ee369f5349",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "a0f8758e-d6fd-44f8-bd79-bc3c4dceddcf",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.status }}",
                "rightValue": "completed"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f222a280-b9a1-4659-91ee-2c6406bca543",
        "name": "Get Data Status",
        "type": "n8n-nodes-base.if",
        "position": [
          14544,
          17104
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.legnext.ai/api/v1/diffusion",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "c4fa1fda9b73b4a2f2915404f841852c17df97f7adb7cfa59c77d46f2721c8cd"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"text\": \"{{ $json.message.content.image_description }} --ar 16:9 --v 7 --draft\",\n  \"callback\": \"https://webhook.site/82aa21d0-e6c4-4465-8a8d-088c26858b81\"\n}\n\n",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 100
              }
            }
          }
        },
        "id": "a51dc62d-3386-4786-84ed-1cff5d17e316",
        "name": "Basic Prompt",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          14096,
          17184
        ],
        "typeVersion": 4.2,
        "credentials": {
          "httpHeaderAuth": {
            "id": "C0X4Op3AeULxQ9Cj",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst prevNodeData = $(\"Midjourney Image Generator\").all();\n\nconst updatedItems = items.map((item, index) => {\n  item.json[\"image_url\"] = prevNodeData[index]?.json?.output?.image_url;\n  return item;\n});\n\nreturn updatedItems;\n"
        },
        "id": "bb9fca5e-c632-489b-9104-3132662852df",
        "name": "Get Image",
        "type": "n8n-nodes-base.code",
        "position": [
          14768,
          17056
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8739c4a4-a9ed-47b0-b9a7-192baac7fd28",
                "name": "Brand Voice",
                "value": "# **Brand Voice Guide – AI Tools & AI News Blog (Georgian)**\n\n## **1. Core Identity**\n\n**Friendly expert.**\nExplains complex AI topics simply, never oversimplifies.\nTone stays conversational, practical, and reader-focused.\n\n---\n\n## **2. Tone**\n\n* **Warm, direct, human.**\n* **Authoritative without being rigid.**\n* **Energetic but not hype-driven.**\n* **Curious, excited about new tools.**\n\nExamples (in Georgian style):\n\n* “მოკლედ, რა უნდა იცოდე…”\n* “ერთი სიტყვით, ეს ფუნქცია ნამდვილ მოწყობილ ‘shortcut’-ად იქცევა.”\n* “მოდი პრაქტიკულად გავიგოთ, რას ნიშნავს ეს შენთვის.”\n\n---\n\n## **3. Style**\n\n* Short paragraphs.\n* Clear structure: **what it is → why it matters → how to use → quick verdict**.\n* Avoid long academic sentences.\n* Use everyday examples, not theory.\n\n---\n\n## **4. Language (Georgian-Specific Rules)**\n\nTo ensure correctness and natural flow:\n\n**Grammar & Syntax**\n\n* Prefer **active voice**:\n  “AI გეტყვის…” instead of “AI-ის მიერ ითქმება…”\n* Keep verb endings consistent with modern spoken Georgian:\n  use “გაიგებ”, not “გაიგებთ”, unless speaking formally.\n* Avoid literal English calques. Use native constructions:\n\n  * “შესაძლებლობა”, not “ოპშენი”.\n  * “პარამეტრი”, not “სეტინგი” (unless tool-specific).\n  * “შენახვა”, not “სეივი”.\n\n**Loanwords to Keep**\nSome loanwords are acceptable in tech contexts:\n\n* ბეში, მოდელი, ჩელი, ვერშენი, აპდეითი, პლაგინი, დეშბორდი, ინტერესი, ჰები.\n\n**Terminology**\nUse consistent Georgian AI vocabulary:\n\n* AI – **ხელოვნური ინტელექტი (AI)**\n* Model – **მოდელი**\n* Prompt – **პრომპტი / მოთხოვნა**\n* Workflow – **ნამუშევარი პროცესი / workflow**\n* Integration – **ინტეგრაცია**\n* Output – **შემოსული შედეგი / output**\n\n**Punctuation**\n\n* Use Georgian comma/period spacing rules (no space before punctuation).\n* Avoid overuse of “...” unless for tone.\n\n---\n\n## **5. Personality**\n\n* **Curious:** always exploring new tools.\n* **Helpful:** gives clear steps, not abstract ideas.\n* **Honest:** if a tool isn’t good, say it directly.\n* **Practical:** “აი, როგორ გამოიყენო დღესვე…”\n\n---\n\n## **6. What Not To Do**\n\n* No pseudo-scientific jargon.\n* No over-promising (“ეს შეცვლის ყველაფერს”).\n* No robotic sentences.\n* No generic filler (“ტექნოლოგია ძალიან სწრაფად ვითარდება…” – only when supported by specifics).\n\n---\n\n## **7. Signature Phrases (Optional)**\n\nUse sparingly to build consistency:\n\n* “მოდი მარტივად ავხსნათ.”\n* “პრაქტიკულად ეს ნიშნავს…”\n* “შენთვის მთავარი სარგებელი ის არის, რომ…”\n\n---\n\n## **8. Writing Formula for Each Post**\n\n1. **Hook (1 sentence)** – relatable question or pain point.\n2. **Context** – what happened in AI (news/tool update).\n3. **Explanation** – clear, short, with examples.\n4. **Why it matters** – practical benefit for Georgian readers.\n5. **How to try it** – steps.\n6. **Quick takeaway** – one clear conclusion.",
                "type": "string"
              },
              {
                "id": "0437c8cc-ef07-4fe8-ad8b-a503597ba24f",
                "name": "Visual Style",
                "value": "Highly polished neo-futuristic cinematic style with these characteristics:\n\nHyperrealistic rendering using physically based materials (PBR) for metal, glass, and reflections.\n\nStrong bokeh and shallow depth of field typical of cinema-grade lenses.\n\nVibrant neon color palette (teal–orange–pink), consistent with cyberpunk visual design.\n\nSoft volumetric lighting and bloom effects that create a glossy, atmospheric look.\n\nHigh-contrast specular highlights on the robot’s surfaces, emphasizing smooth, curved geometry.\n\nClean, noise-free, ultra-sharp detailing often associated with CGI/3D render engines like Octane, Redshift, or Unreal Engine.\n\nOverall: premium cinematic cyberpunk CGI with photorealistic textures and neon-lit ambiance.",
                "type": "string"
              },
              {
                "id": "306718ce-dbe0-4cc3-98e7-f4b53edd0ce6",
                "name": "Webhook",
                "value": "=https://mypen.ge/api/webhooks/blog",
                "type": "string"
              },
              {
                "id": "5151d04f-a772-44fb-932d-72783b17fb04",
                "name": "Secret",
                "value": "mypen-n8n-webhook-secret-2024-secure-key-change-this",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          12768,
          17328
        ],
        "id": "c5a35576-d6b7-443c-8bc6-635afca33f08",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo",
            "mode": "list",
            "cachedResultName": "Mypen Articles",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          13008,
          17328
        ],
        "id": "d056914d-1fce-4a4d-aa31-640681dc918c",
        "name": "Get row(s) in sheet3",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "KHD2NxVzxY6BFySy",
            "name": "Irakli C"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8ff4289f-b21c-444d-9884-b6d2fcccd2bd",
                "leftValue": "={{ $json.generate_featured }}",
                "rightValue": "Render",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          13232,
          17328
        ],
        "id": "da6a2a63-8692-45a9-9b74-d97827ab2acb",
        "name": "Filter3"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          13424,
          17328
        ],
        "id": "0c28d7c0-a3ae-41e8-9b83-e8dd6616fe87",
        "name": "Loop Over Items4",
        "executeOnce": true
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Image URL to Webhook": {
        "main": [
          [
            {
              "node": "Update Sheet with Featured Image1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Sheet with Featured Image1": {
        "main": [
          [
            {
              "node": "Loop Over Items4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model5": {
        "main": [
          [
            {
              "node": "Basic Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Midjourney Image Generator": {
        "main": [
          [
            {
              "node": "Get Data Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Image Generation": {
        "main": [
          [
            {
              "node": "Midjourney Image Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Data Status": {
        "main": [
          [
            {
              "node": "Get Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait for Image Generation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic Prompt": {
        "main": [
          [
            {
              "node": "Midjourney Image Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Image": {
        "main": [
          [
            {
              "node": "Send Image URL to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet3": {
        "main": [
          [
            {
              "node": "Filter3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter3": {
        "main": [
          [
            {
              "node": "Loop Over Items4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items4": {
        "main": [
          [],
          [
            {
              "node": "Message a model5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Download Image from Midjourney1": [
        {
          "job_id": "3212a3d6-9248-4695-bc66-d08ffca855c0",
          "model": "midjourney",
          "task_type": "diffusion",
          "status": "completed",
          "config": {
            "service_mode": "public",
            "webhook_config": {
              "endpoint": "https://webhook.site/82aa21d0-e6c4-4465-8a8d-088c26858b81",
              "secret": ""
            }
          },
          "input": null,
          "output": {
            "image_url": "https://cdn.legnext.ai/temp/1764597947255.png",
            "image_urls": [
              "https://cdn.legnext.ai/mj/3212a3d6-9248-4695-bc66-d08ffca855c0_0.png",
              "https://cdn.legnext.ai/mj/3212a3d6-9248-4695-bc66-d08ffca855c0_1.png",
              "https://cdn.legnext.ai/mj/3212a3d6-9248-4695-bc66-d08ffca855c0_2.png",
              "https://cdn.legnext.ai/mj/3212a3d6-9248-4695-bc66-d08ffca855c0_3.png"
            ],
            "seed": "1414037281",
            "available_actions": {
              "edit": [
                0,
                1,
                2,
                3
              ],
              "inpaint": [
                0,
                1,
                2,
                3
              ],
              "outpaint": [
                0,
                1,
                2,
                3
              ],
              "pan": [
                0,
                1,
                2,
                3
              ],
              "remix": [
                0,
                1,
                2,
                3
              ],
              "reroll": true,
              "upscale": [
                0,
                1,
                2,
                3
              ],
              "variation": [
                0,
                1,
                2,
                3
              ]
            }
          },
          "meta": {
            "created_at": "2025-12-01T14:05:19Z",
            "started_at": "2025-12-01T14:05:20Z",
            "ended_at": "2025-12-01T14:05:53Z",
            "usage": {
              "type": "point",
              "frozen": 40,
              "consume": 40
            }
          },
          "detail": null,
          "logs": [],
          "error": {
            "code": 0,
            "raw_message": "",
            "message": "",
            "detail": null
          },
          "image_url": "https://cdn.legnext.ai/temp/1764597947255.png"
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "c0320382499acc1816c05e1130ede806d6731eecdef3b30ac30aabf4236c8764"
    }
  }